.products-container {
  text-align: center;
  padding: 40px;
}

.category-selection {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.category-button {
  padding: 15px 30px;
  font-size: 1.2em;
  color: white;
  background-color: #d45d79;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.category-button:hover {
  background-color: #b04563;
}

.back-button {
  margin-bottom: 20px;
  padding: 10px 20px;
  color: #ffffff;
  background-color: #d45d79;
  border-radius: 5px;
  cursor: pointer;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.product-card {
  width: 300px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-image {
  width: 100%;
  height: 70%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.product-card h3 {
  font-size: 1.2em;
  color: #d45d79;
  margin: 10px 0;
}

.product-card p {
  font-size: 1em;
  color: #333;
}